USE [db_techonlineGNML]
GO
/****** Object:  Table [dbo].[User_info]    Script Date: 09/21/2015 02:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_info](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[lastname] [nvarchar](150) NULL,
	[password] [nvarchar](150) NULL,
	[email] [nvarchar](max) NULL,
	[isadmin] [int] NULL,
 CONSTRAINT [PK_User_info] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User_info] ON
INSERT [dbo].[User_info] ([id_user], [name], [lastname], [password], [email], [isadmin]) VALUES (1, N'User1', N'UserLastname', N'User123', N'user@gmail.com', 0)
INSERT [dbo].[User_info] ([id_user], [name], [lastname], [password], [email], [isadmin]) VALUES (2, N'Admin', N'AdminLastname', N'Admin123', N'admin@gmail.com', 1)
INSERT [dbo].[User_info] ([id_user], [name], [lastname], [password], [email], [isadmin]) VALUES (6, N'nov korisnik', N'korisniklname', N'test123', N'test33', 0)
SET IDENTITY_INSERT [dbo].[User_info] OFF
/****** Object:  Table [dbo].[products_info]    Script Date: 09/21/2015 02:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_info](
	[id] [int] NULL,
	[product] [nvarchar](255) NULL,
	[manifacture] [nvarchar](255) NULL,
	[model] [nvarchar](255) NULL,
	[cpu] [nvarchar](255) NULL,
	[ram] [nvarchar](255) NULL,
	[hdd] [nvarchar](255) NULL,
	[gpu] [nvarchar](255) NULL,
	[os] [nvarchar](255) NULL,
	[more_info] [nvarchar](255) NULL,
	[price] [float] NULL,
	[image_path] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[products_info] ([id], [product], [manifacture], [model], [cpu], [ram], [hdd], [gpu], [os], [more_info], [price], [image_path]) VALUES (1, N'Tablet', N'Lenovo', N'IdeaTab A10 (A7600)', N'MTK8121 Quad-core 1.3 GHz Cortex-A7 ', N'1GB', N'16GB (eMMC)', N'Intel G7 Engine', N'Android JellyBean 4.2', N' 10.1``', 9.499, N'1.png')
INSERT [dbo].[products_info] ([id], [product], [manifacture], [model], [cpu], [ram], [hdd], [gpu], [os], [more_info], [price], [image_path]) VALUES (2, N'Notebook', N'ASUS', N'X553MA-SX788BN (BLACK', N'Intel Celeron N2840 DualCore (2.16GHz-2.58GHz/1M/22nm/7.5W)', N'2GB DDR3 1600MHz', N'500GB 5400rpm', N'Intel HD Graphics Gen7 (BayTrail)', N'Windows 8.1 64bit ', N'15.6`` HD LED (1366x768) glare', 15.999, N'2.png')
INSERT [dbo].[products_info] ([id], [product], [manifacture], [model], [cpu], [ram], [hdd], [gpu], [os], [more_info], [price], [image_path]) VALUES (3, N'Notebook', N'ASUS', N'X553MA-XX121D (PURPLE IMR)', N'Intel QuadCore N2930 Processor (1.86GHz up to 2.16GHz/2MB Cache/22nm/7.5W)', N'4GB DDR3 1600MHz', N'1TB 5400rpm', N'Intel HD Graphics Gen7 (BayTrail)', N'Windows 8.1 Pro', N'15inch Dispaly', 13.499, N'3.png')
