/techonline-onlineshop/techonline-onlineshop/obj
/techonline-onlineshop/.vs/
/techonline-onlineshop/techonline-onlineshop/bin
/techonline-onlineshop/techonline-onlineshop/WebConnections.config
/techonline-onlineshop/*.suo