/*   Ovde ke bide graden header i footer   */
body {
    background-color: lightblue;
    width: inherit;
}

#h {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    border: 2px solid #808080;
}
.logo {
    background-image:url('/img/logo.png');
    background-repeat:no-repeat;
    width: 100%;
    height: 75px;
    margin-bottom:-5%;
}

.menu-nav {
    width: 100%;
    height: 80px;
    padding-top: 25px;
    margin-left: 37%;
}

.menu-links {
    padding-left: 8px;
    padding-right: 8px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14.5px;
}

a {
    font-style: italic;
    font-family: "Trebuchet MS", "Lucida 
        Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
    color: #808080;
}

    a:hover {
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13.5px;
        text-decoration: none;
        color: #c82323;
    }

#f {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    border: 2px solid #808080;
    text-align:center;
}
@media (max-width: 600px) {
    .menu-nav a
    {
        font-size:11px !important;
      /*  display:block;            */
    }
}
.social-media {
    width:475px;
    height: inherit;
    display:inline-block;
    padding-right: 6px;
    float:left;
    margin-left: 290px;
}
.copyright {
    width:inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    padding-top: 3px;
    font-weight:bold;
    font-style:italic;
    margin-left: -150px;
    height: inherit;
}