/*   Ovde ke bide graden header i footer   */
body {
    background-color: lightblue;
    width: inherit;
}

#h {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    border: 2px solid #808080;
}
.logo {
    width: inherit;
    height: 94px;
    margin-right: 150px;
}

.menu-nav {
    width: 100%;
    height: 80px;
    padding-top: 65px;
    margin-left: 570px;
}

.menu-links {
    padding-left: 8px;
    padding-right: 8px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13.5px;
}

a {
    font-style: italic;
    font-family: "Trebuchet MS", "Lucida 
        Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
    color: #808080;
}

    a:hover {
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13.5px;
        text-decoration: none;
        color: #c82323;
    }

#f {
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    border: 2px solid #808080;
    text-align:center;
}

.social-media {
    width:475px;
    height: inherit;
    display:inline-block;
    padding-right: 6px;
    float:left;
    margin-left: 290px;
}
.copyright {
    width:inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    padding-top: 3px;
    font-weight:bold;
    font-style:italic;
    margin-left: -150px;
    height: inherit;
}
